services/intelligence_scout/n8n_workflows/crawl_scheduler.json
{
  "name": "Intelligence Scout - Crawl Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, technology_name, priority, max_pages FROM intelligence_scout_queue WHERE status = 'pending' ORDER BY priority DESC, created_at ASC LIMIT 1"
      },
      "id": "postgres-get-pending",
      "name": "Get Pending Crawl",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL aya_rag"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "Has Pending Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/arthurdell/AYA/services/intelligence_scout && python3 scout_orchestrator.py process --queue-id {{ $json.id }}"
      },
      "id": "execute-crawler",
      "name": "Execute Crawler",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "ssh": {
          "id": "1",
          "name": "ALPHA SSH"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "updateKey": "id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "queued",
            "scheduled_at": "={{ $now }}"
          }
        },
        "table": "intelligence_scout_queue"
      },
      "id": "update-status-queued",
      "name": "Mark as Queued",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL aya_rag"
        }
      }
    },
    {
      "parameters": {
        "resource": "webhook",
        "httpMethod": "POST",
        "path": "scout-notify",
        "options": {}
      },
      "id": "webhook-notify",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Crawl": {
      "main": [
        [
          {
            "node": "Has Pending Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Items?": {
      "main": [
        [
          {
            "node": "Execute Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Crawler": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1"
}

