services/intelligence_scout/n8n_workflows/result_monitor.json
{
  "name": "Intelligence Scout - Result Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "hourly-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, q.technology_name, q.url as source_url FROM intelligence_scout_results r LEFT JOIN intelligence_scout_queue q ON r.queue_id = q.id WHERE r.import_timestamp > NOW() - INTERVAL '24 hours' ORDER BY r.import_timestamp DESC"
      },
      "id": "get-recent-results",
      "name": "Get Recent Results",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL aya_rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as failed_count FROM intelligence_scout_queue WHERE status = 'failed' AND completed_at > NOW() - INTERVAL '24 hours'"
      },
      "id": "check-failures",
      "name": "Check Failures",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 500],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL aya_rag"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "summary",
              "value": "=Intelligence Scout Status Report\n\nCompleted Crawls (24h): {{ $json.length }}\nFailed Crawls: {{ $('Check Failures').item.json.failed_count }}\n\nRecent Technologies:\n{{ $json.map(item => `- ${item.technology_name}: ${item.pages_imported} pages, ${item.embeddings_generated} embeddings`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $('Check Failures').item.json.failed_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-failures",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "to": "arthur@dellight.ai",
        "subject": "Intelligence Scout - Status Report",
        "text": "={{ $json.summary }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "to": "arthur@dellight.ai",
        "subject": "Intelligence Scout - FAILURES DETECTED",
        "text": "={{ `⚠️ FAILURES DETECTED\n\n${$('Check Failures').item.json.failed_count} failed crawls in the last 24 hours.\n\nPlease check the intelligence_scout_queue table for details.` }}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 600],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Results": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Failures": {
      "main": [
        [
          {
            "node": "Has Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failures?": {
      "main": [
        [
          {
            "node": "Send Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1"
}

